/* {
    background-color: rgb(128, 163, 201);
    padding: 0;
    margin: 0;
}*/
body{
  font-family: 'Baloo Da 2', Arial;
  margin: 2;
  padding: 2;
  background-color: rgb(240,249,245);
  grid-template: 20px 400px 420px/ 1fr 1fr 1fr;
}
.container{
  display: grid;
  grid-template: 120px 380px 370px/ 1fr 1fr 1fr;
  margin: 5px; ;
  padding: 5px;
  grid-template-areas: "header header header"
                       "img-container1 img-container2 img-container3"
                       "img-container4 img-container5 img-container6";
}
img{
  background-color: white;
}
.header{
  width: 1300px;
  font-family: Arial, Helvetica, sans-serif;
  grid-area: header;
}

ul{
  list-style: none;
}
.nav li span{
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}
.nav li span:hover{
  background-color: darkolivegreen;
  cursor: pointer;
}
.nav > li{
  float: left;
}

.nav ul li label{
  background-color: black;
  color: white;
  padding: 10px 15px;
}
.nav li ul{
  display: none;
  position: absolute;
  min-width: 160px;
}
.nav li:hover > ul{
  display: block;
}
.nav li ul li{
  position: relative;
}
.nav li ul li ul{
  right: -160px;
  top: 0;
}
.im-container1{
  grid-area: img-container1;
}
.im-container2{
  grid-area: img-container2;
}
.im-container3{
  grid-area: img-container3;
}
.im-container4{
  grid-area: img-container4;
}
.im-container5{
  grid-area: img-container5;
}
.im-container6{
  grid-area: img-container6;
}
output li{
  font-size: 10px;
}
#color{
  padding: 2px 20px;
  background-color: black;
}
footer{
  padding: 30px;
  background-color: white;
  color: black; 
    font-size:30px;
    font-family: cursive;
    font-style: oblique;
}
footer .container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer{
  grid-area:footer;
  padding-right: 40px;
  background-color: #2d3436;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-div{
  display: inherit;
  align-items: center
}

.footer img{
  height: 100px;
  border-radius: 50%;
}